# Java
demo/target/
demo/.mvn/
demo/mvnw
demo/mvnw.cmd

# React
queryflow-frontend/node_modules/
queryflow-frontend/build/

# IDE & OS
.DS_Store
.vscode/
.idea/

target/
.DS_Store
queryflow-frontend/node_modules/
.env